<div class="btn-group dash-buttons" role="group">
  <button type="button" ng-click="selector.selectButton()" class="btn btn-primary dash-button {{ selector.selectedDash ? 'selected' : '' }}">
    <b>Dashboard</b>
  </button>
  <button type="button" ng-click="selector.selectButton()" class="btn btn-primary dash-button {{ selector.selectedTop ? 'selected' : '' }}">
    <b>Top 10</b>
  </button>
</div>

<div class="container" ng-show="selector.selectedDash">
  <div class="row-fluid">
    <div class="row">
      <h4>Transações fraudulentas/Período</h4>

      <div class="col-md-10">
        <nvd3 options="selector.dateHistoOptions" data="selector.dateHistoData"></nvd3>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="row">
      <hr style="margin-left: 0px; width: 38%; border-color: black;">
      <h4>Volume de Fraudes (R$) Diário</h4>

      <hr style="margin-left: 0px; width: 38%; border-color: black;">
    </div>
  </div>

  <div class="row-fluid">
    <div class="row">
      <h4>Share de Fraudes por estabelecimento</h4>
      <nvd3 options="selector.pieChartOptions" data="selector.pieChartData"></nvd3>
    </div>
  </div>
</div>

<div class="container" ng-show="selector.selectedTop">
  <h3>Top 10 municípios com fraudes</h3>
</div>