<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <h6 class="text-muted">
            Radius in kilometers
          </h6>
          <radius-slider></radius-slider>
        </div>
      </div>

      <div class="row" style="margin-bottom: 0.5em">
        <div class="col-sm-12">
        <h6 class="text-muted">
            Display Additional Data
          </h6>
        <center>
        <div class="btn-group btn-group-sm" data-toggle="buttons">
          <label class="btn btn-primary active" ng-click="map.toggleLayer('business')">
            <input type="checkbox" ng-model="map.businessSelected" > Companies
          </label>
          <label class="btn btn-danger" ng-click="map.toggleLayer('crimes')">
            <input type="checkbox" ng-model="map.crimesSelected" > Crimes
          </label>
        </div>
        </center>
        </div>
      </div>

      <div class="row">
      <div class="tab-container" role="tabpanel">
        <ul class="nav nav-tabs" role="navigation">
          <!-- <li role="presentation" class="active">
            <a href="" data-target="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Crimes</a>
          </li> -->

          <li role="presentation" class="active">
            <a href="" data-target="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Census</a>
          </li>

          <li role="presentation">
            <a href="" data-target="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Summary</a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane" id="tab1" role="tabpanel">
            <div class="row">
              <div class="col-sm-12">
                <dashboard-summary></dashboard-summary>
              </div>
            </div>
          </div>

          <div class="tab-pane active" id="tab2" role="tabpanel">
            <div class="row">
              <div class="col-sm-12">
                <dashboard-census></dashboard-census>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="tab3" role="tabpanel">
            <div class="row">
              <div class="col-sm-12">
                <dashboard-crimes></dashboard-crimes>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>


    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-6">
      <br>
      <footer class="footer pull-right" style="margin: -15px -15px;">
        <span style="font-size: 12px;">
          <strong>Powered by</strong>
        </span>
        <a href="http://www.gogeo.io" target="_blank">
          <img src="shared/images/gogeo-brand.png" alt="" width="40%" height="40%">
        </a>
      </footer>
    </div>
  </div>
</div>