<div id="map-container" class="dashboard-map-container">
  <div class="leaflet-control" style="top: 67px; left: 10px; position: absolute;" ng-show="false">
    <div class="data-type-button-section">
      <div class="leaflet-draw leaflet-bar">
        <a ng-show="map.baseLayerSelected == 'day'"
           class="leaflet"
           role="button"
           title="Click to see a night map"
           href="javascript:"
           style="padding-top: 3px; padding-left: 6px;"
           ng-click="map.switchBaseLayer()">
          <i class="fa fa-moon-o fa-lg"></i>
        </a>
        <a ng-show="map.baseLayerSelected == 'night'"
           class="leaflet-disabled"
           role="button"
           title="Click to see a day map"
           href="javascript:"
           style="padding-top: 3px; padding-left: 6px;"
           ng-click="map.switchBaseLayer()">
          <i class="fa fa-sun-o fa-lg"></i>
        </a>
      </div>
    </div>
  </div>  
</div>

<div class="map-control">
  <div class="row">
    <ul class="list-inline item">
      <li id="cluster" ng-click="map.changeMapType($event)" class="{{ map.mapSelected == 'cluster' ? 'active' : 'inactive' }}">
       CLUSTER
      </li>
      <li id="point" ng-click="map.changeMapType($event)" class="{{ map.mapSelected == 'point' ? 'active' : 'inactive' }}">
        POINT
      </li>
      <li id="intensity" ng-click="map.changeMapType($event)" class="{{ map.mapSelected == 'intensity' ? 'active' : 'inactive' }}">
        INTENSITY
      </li>
      <!-- <li id="thematic" ng-click="map.changeMapType($event)" class="{{ map.mapSelected == 'thematic' ? 'active' : 'inactive' }}">
        THEMATIC
      </li> -->
    </ul>

    <ul class="list-inline draw-item" ng-show="false">
      <li class="draw {{ map.drawing ? 'active' : 'inactive' }}" ng-click="map.drawArea()">
      </li>
    </ul>
  </div>
</div>

<div class="thematic-legend" ng-show="map.mapSelected === 'thematic'" style="display: block; float: right; left: 10px; bottom: 10px; position: absolute; color: white; z-index: 10;">
  <ul class="list-inline">
    <li class="{{ id }} {{ map.layerGroup.hasLayer(layer) ? 'disabled' : '' }}" ng-repeat="(id, layer) in map.thematicMaps" ng-click="map.toggleThematicMap(id, layer)">
      <strong>
        {{ id }}
      </strong>
    </li>
  </ul>
</div>