<div class="btn-group dash-buttons" role="group">
  <button type="button" ng-click="selector.selectButton()" class="btn btn-primary dash-button {{ selector.selectedDash ? 'selected' : '' }}">
    <b>Dashboard</b>
  </button>
  <button type="button" ng-click="selector.selectButton()" class="btn btn-primary dash-button {{ selector.selectedTop ? 'selected' : '' }}">
    <b>Top 10</b>
  </button>
</div>

<div class="container" style="width: 100%;" ng-show="selector.selectedDash">
  <div class="row-fluid">
    <div class="row">
      <h4 class="date-histo-title">Transações fraudulentas por dia</h4>

      <div class="col-sm-12">
        <nvd3 options="selector.dateHistoOptions" data="selector.dateHistoData"></nvd3>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="row volume-by-period">
          <h4 class="period-title">Volume de Fraudes (R$) / Período</h4>
          <div class="row">
            <div class="col-sm-6" style="margin-bottom: 10px;">
              <span class="period-label">manhã</span>
              <br>
              <span class="period-value">{{ selector.periodData["manhã"]["sum"] | currency }}</span>
            </div>
            <div class="col-sm-6">
              <span class="period-label">tarde</span>
              <br>
              <span class="period-value">{{ selector.periodData["tarde"]["sum"] | currency }}</span>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6" style="margin-bottom: 10px;">
              <span class="period-label">noite</span>
              <br>
              <span class="period-value">{{ selector.periodData["noite"]["sum"] | currency }}</span>
            </div>
            <div class="col-sm-6">
              <span class="period-label">Transações</span>
              <br>
              <span class="period-value">{{ selector.getTotalTransactions() }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="row">
      <h4 class="frauds-pie-chart-title">Share de Fraudes por estabelecimento</h4>
      <nvd3 options="selector.pieChartOptions" data="selector.pieChartData"></nvd3>
    </div>
  </div>
</div>

<div class="row-fluid" ng-show="selector.selectedTop">
  <div class="row">
    <div class="col-sm-12">
      <h3>Top 10 municípios com fraudes</h3>
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th style="width: 10%; color: #35ccf1;">
              #
            </th>
            <th style="width: 60%; color: #35ccf1;">
              MUNICÍPIO
            </th>
            <th style="width: 30%; text-align: right; color: #35ccf1;">
              VALOR R$
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in selector.topData">
            <td>
              {{item.rank}}
            </td>
            <td>
              {{item.key}}
            </td>
            <td style="text-align: right;">
              {{item.sum | currency}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-11">
      <h4>Share de Fraudes nos municípios</h4>
      <nvd3 options="selector.pieChartOptions" data="selector.topData"></nvd3>
    </div>
  </div>
</div>